<div class="grid-container">
  <!-- <h1 class="mat-h1">Dashboard</h1> -->
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!-- top Cards -->
    <mat-grid-tile *ngFor="let i of [1, 2, 3, 4]" [colspan]="( cardLayout | async )?.miniCardCols"
      [rowspan]="( cardLayout | async )?.miniCardRows">
      <app-card title="Card {{i}}">
        <div>Mini Card Content Here</div>
      </app-card>
    </mat-grid-tile>
    <!-- Charts -->
    <mat-grid-tile *ngFor="let i of [5, 6]" [colspan]="( cardLayout | async )?.chartCols"
      [rowspan]="( cardLayout | async )?.chartRows">
      <app-card title="Card {{i}}">
        <div>Chart Content Here</div>
      </app-card>
    </mat-grid-tile>
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.tableCols" [rowspan]="( cardLayout | async )?.tableRows">
      <app-card title="Card 9">
        <div>Table Content Here</div>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>